*{
    margin: 20;
    padding:20;
    font-family: Palatino;
}
body{
  background-color:#fff;
  height: 100vh;
  margin-left: 200px;
  display: grid;
  place-items: center;
 /* background: linear-gradient(to right, #9aeff5, #e4f060);*/
   /*background: url("")no-repeat center center;*/
  /*-webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: 100%;*/
 
}
#navbar {
  right: 0;
}
/* The sidenav */
#navbar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:  #7f1818;
  
  overflow-x: hidden;
  padding-top: 10px;
}
#navbar ul li{
  list-style-type:none;
  padding-top: 20px;
}
.nav-link{
  color: #fff;
  text-decoration: none;
  
  
  
}
#navbar ul li a:hover{
  color: yellow;
}

/* Page content */
/*.main {
  margin-left: 200px; /* Same as the width of the sidenav */

  

  h1{
    text-transform: uppercase;
    text-align:center;
     color: #7f1818;
    font-size:25px;
  }
.main-section header{
  text-align: center;
 color:#7f1818;
  font-size: 20px; 
  border-top:2px solid #000;
  border-bottom:2px solid #000;
  padding-top: 20px;
  padding-bottom: 20px;
}
h3{
  color:#fff;
  font-size:15px;
}
h4{
  position: relative;
  
  border-bottom: double;
  border-radius: 0px;
  width: 50%;
  margin-left: 330px;
  border-color:#7f1818;
  color: #7f1818;
  
}
p{
  margin-left: 30px;
}




ol li  {
  list-style-type:none;
   border-bottom: double;
  border-radius: 10px;
  width: 50%;
  margin-left: 300px;
  text-align: center;
  color: #fff;
 background: linear-gradient(to right,#7f1818 , #57174c );
}
@media only screen and (max-width: 700px){
 
  body{
    margin: 0;
  height: 100%;
  overflow: hidden;
    background-color:#fff;
  }
  
  #navbar{
    position:fixed;
 right: 0px; 
top: 0px;
height: 100%;
width:  150px;
opacity:0.2;

  }
  #main-doc{
    margin-top: 50px;
    background: #fff;
    height: calc(100vh - 50px);
    overflow: auto;/*da se moze listati */
    padding: 12px;
    box-sizing: border-box;
  }
  
  #navbar ul li{
    padding-top: 20px;
    
  }
  .main-section header{
    font-size: 15px;
    text-align: center;
    border-top: #7f1818;
    overflow: hidden;
  }
  h3{
    font-size: 15px;
  }
  
  p{
    font-size: 10px;
    margin-left: 0px;
    margin-right: 50px;
  }
  h4{
    margin-left: 100px;
    font-size: 10px;
    text-align: center;
  }
  ol li{
   font-size: 10px;
    margin-left:35px;
    width:70%;
  }
}